.cards {
    padding: 0 2em 1em;
}

.cards__title {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.625em;
}

.cards__info-container {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--tertiary-button);
    border-radius: 8px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 1.5em 1em;
}

.cards__info {
    display: flex;
    padding-bottom: 0.25em;
}

.cards__info-details {
    flex: 1;
    margin-left: 1em;
}

.cards__info-image {
    border-radius: 50%;
    width: 2em;
}

.cards__info-name {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.cards__info-type {
    align-items: center;
    color: var(--secondary-color);
    display: flex;
    font-size: 0.75em;
    gap: 0.625em;
}

.cards__info-chat {
    background-color: var(--tertiary-button);
    border-radius: 50%;
    padding: 0.5em;
}

.cards__info-chat-image {
    padding: 0.15em 0.05em 0;
}

.cards__info-title {
    border-top: 1px solid var(--tertiary-button);
    font-size: 0.75em;
    margin: 1em 0;
    padding-top: 1em;
}

.cards__info-links {
    display: flex;
    justify-content: space-between;
}

.video-links {
    background-color: var(--primary-button);
    border-radius: 8px;
    color: var(--background-color);
    padding: 1em;
    
}

.audio-links {
    border: 1px solid var(--tertiary-button);
    border-radius: 8px;
    padding: 1em;
}

.local-link {
    background-color: var(--secondary-button);
    border-radius: 8px;
    color: var(--background-color);
    padding: 1em;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .cards__list  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
        margin: 0 auto;
        max-width: 80vw;
    }

    .cards__title {
        font-size: 1.125em;
        margin: 0 6em 1.25em;
    }
}