@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #F6F6F6;
}

.emphasis-title {
    color: #22D4FD;
}

.presentation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8% 15%;
}

.presentation__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
}

.presentation__content__title {
    font-size: 36px;
    font-family: "Krona One", serif;
}

.presentation__content__text {
    font-size: 24px;
    font-family:"Montserrat", serif;
    font-weight: 400;
}

.presentation__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
}

.presentation__links_subtitle {
    font-size: 24px;
    font-family:"Krona One", serif;
    font-weight: 400;
}

.presentation__links__link {
    align-items: flex-end;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    color: #F6F6F6;
    display: flex;
    font-family:"Montserrat", serif;
    font-size: 24px;
    font-weight: 600;
    gap: 16px;
    justify-content: center;
    padding: 21.5px 0;
    text-decoration: none;
    text-align: center;
    width: 378px;
}

.presentation__links__link:hover {
    background-color: #272727;
}

.footer {
    background-color: #22D4FD;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 24px;
    text-align: center;
}
