@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #F6F6F6;
    height: 100vh;
}

.emphasis-title {
    color: #22D4FD;
}

.presentation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10%;
}

.presentation__content {
    width: 615px;
}

.presentation__content__title {
    font-size: 36px;
    font-family: "Krona One", serif;
}

.presentation__content__text {
    font-size: 24px;
    font-family:"Montserrat", serif;
    font-weight: 400;
}

.presentation__links {
    display: flex;
    justify-content: space-between;
}

.presentation__links__link {
    background-color: #22D4FD;
    border-radius: 16px;
    color: #000;
    font-family:"Montserrat", serif;

    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    text-align: center;
    width: 280px;
}