@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #000000;
    --color-secondary: #F6F6F6;
    --color-tertiary: #22D4FD;
    --color-hover: #272727;
    --font-primary: "Krona One", serif;
    --font-secondary: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.header {
    padding: 2% 0 0 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    color: var(--color-tertiary);
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.presentation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
}

.presentation__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
}

.presentation__content__title {
    font-size: 2.25rem;
    font-family: var(--font-primary);
}


.emphasis-title {
    color: var(--color-tertiary);
}

.presentation__content__text {
    font-size: 1.5rem;
    font-family:var(--font-secondary);
    font-weight: 400;
}

.presentation__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
}

.presentation__links_subtitle {
    font-size: 1.5rem;
    font-family:var(--font-primary);
    font-weight: 400;
}

.presentation__links__link {
    align-items: flex-end;
    border: 2px solid var(--color-tertiary);
    border-radius: 8px;
    color: var(--color-secondary);
    display: flex;
    font-family:var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    gap: 16px;
    justify-content: center;
    padding: 21.5px 0;
    text-decoration: none;
    text-align: center;
    width: 378px;
}

.presentation__links__link:hover {
    background-color: var(--color-hover);
}

.footer {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    padding: 24px;
    text-align: center;
}
